* {
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(
    to right bottom,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.486)
  );
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__flex {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header__flex--left {
  text-align: center;
  position: absolute;
  top: 30%;
  max-width: 50%;
}

.header__flex--right {
  position: absolute;
  bottom: 25vh;
  right: 2rem;
  max-width: 50%;
}

.title {
  font-size: 1.6rem;
}

.nav__list {
  text-align: center;
  list-style-type: none;
}

.nav__list_item--header a {
  display: inline-block;
  width: 100%;
  height: 3em;
  padding: 12px;
  border-radius: 100px;
}

.nav__list_item--header a:link,
.nav__list_item--header a:visited {
  color: white;
  text-decoration: none;
}

.nav__list_item--header a:hover {
  background-color: white;
  opacity: 0.9;
  color: black;
}
.hobbies__icon-container img {
  height: 100px;
  margin-right: 20px;
}
.hobbies__icon-container {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.hobbies__list {
  display: flex;
  justify-content: center;
}

.main__card--yellow {
  background-color: yellow;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.experience__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 20px;
}

/* Project Cards */
.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease; /* Added border animation */
  border: 1px solid #ccc; /* Add a subtle border */
}

.project:hover,
.expereince:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-color: #19191a; /* Change border color on hover */
}

.project h3,
.expereince h3 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.project p {
  margin: 10px 0;
}

/* Project Links */
.project a {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease; /* Project link color animation */
  border: 1px solid transparent; /* Add a border to the links */
  border-radius: 4px;
  padding: 5px 10px;
}

.project a:hover {
  text-decoration: none;
  color: #19191a;
  border-color: #19191a; /* Change border color on hover */
  background-color: #f7f7f7; /* Add background color on hover */
}

/* Skills List Styles */
.skills-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.skills-list span {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.sectionTitle {
  margin-top: 10px;
}

.section__card--left_title {
  display: flex;
}

.sectionTitle--left_title {
  min-width: 20vw;
  font-size: x-large;
}

.section__card {
  margin-bottom: 20px;
}
.disable-link {
  pointer-events: none;
  background-color: #f0f0f0;
}

.expereince {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease; /* Added border animation */
  border: 1px solid #ccc; /* Add a subtle border */
}

@media screen and (max-width: 800px) {
  .section__card--left_title {
    flex-direction: column;
  }
  .hobbies__list {
    flex-direction: column;
  }
  .experience__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .header__flex--left {
    text-align: center;
    position: absolute;
    top: 5%;
    max-width: 50%;
  }
  .header__flex--left {
    max-width: 100%;
  }
  .header__flex--right {
    max-width: 100%;
  }
  body {
    padding: 4px;
  }
  .nav__list_item--header {
    display: inline;
  }
  .nav__list_item--header a {
    display: inline;
  }
}
